* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #1f1f1f;
  color: white;
  padding: 10px;
}

.main-content {
  flex: 1;
  background-color: #0d1b42;
  color: white;
  padding: 20px;
}

.content-boxes {
  margin-top: 20px;
}

.content-box {
  height: 60px;
  background-color: #3c3c3c;
  margin-bottom: 20px;
  border-radius: 4px;
}
